apiVersion: v1
kind: Service
metadata:
  name: adguard-lb
  namespace: adguard
  annotations:
    metallb.universe.tf/allow-shared-ip: "adguard-home"
spec:
  type: LoadBalancer
  loadBalancerIP: 10.0.0.240        # MetalLB IP for both UI + DNS
  selector:
    app.kubernetes.io/name: adguard-home
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP
    - name: dns-udp
      port: 53
      targetPort: 53
      protocol: UDP
---
