apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: netbird-config
  namespace: netbird
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
---
