apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-management-config
  namespace: netbird
data:
  management.json: |
    {
      "Stuns": [
        {
          "Proto": "udp",
          "URI": "stun:10.0.200.17:3478",
          "Username": "",
          "Password": null
        }
      ],
      "TURNConfig": {
        "Turns": [
          {
            "Proto": "udp",
            "URI": "turn:10.0.200.17:3478",
            "Username": "netbird",
            "Password": "netbird123"
          }
        ],
        "CredentialsTTL": "12h",
        "Secret": "netbird-secret-change-me",
        "TimeBasedCredentials": false
      },
      "Signal": {
        "Proto": "https",
        "URI": "netbird-signal.k3s.dahan.house:443",
        "Username": "",
        "Password": null
      },
      "ReverseProxy": {
        "TrustedHTTPProxies": [],
        "TrustedHTTPProxiesCount": 0,
        "TrustedPeers": ["0.0.0.0/0"]
      },
      "Datadir": "/var/lib/netbird",
      "DataStoreEncryptionKey": "",
      "StoreConfig": {
        "Engine": "sqlite"
      },
      "HttpConfig": {
        "Address": "0.0.0.0:80",
        "AuthIssuer": "https://auth.k3s.dahan.house/application/o/netbird/",
        "AuthAudience": "netbird",
        "AuthKeysLocation": "https://auth.k3s.dahan.house/application/o/netbird/jwks/",
        "AuthUserIDClaim": "sub",
        "CertFile": "",
        "CertKey": "",
        "IdpSignKeyRefreshEnabled": true,
        "OIDCConfigEndpoint": "https://auth.k3s.dahan.house/application/o/netbird/.well-known/openid-configuration"
      },
      "IdpManagerConfig": {
        "ManagerType": "none"
      },
      "DeviceAuthorizationFlow": {
        "Provider": "none",
        "ProviderConfig": {
          "Audience": "netbird",
          "Domain": "auth.k3s.dahan.house",
          "ClientID": "netbird",
          "TokenEndpoint": "https://auth.k3s.dahan.house/application/o/token/",
          "DeviceAuthEndpoint": "https://auth.k3s.dahan.house/application/o/device/authorize/",
          "Scope": "openid profile email offline_access",
          "UseIDToken": true
        }
      },
      "PKCEAuthorizationFlow": {
        "ProviderConfig": {
          "Audience": "netbird",
          "ClientID": "netbird",
          "ClientSecret": "rG56DD5xMc0ukIyxhSbVWgzZ1v8gaSSVoVGSjaoPqUG3yYAwvsYrfRGD7ZthFBqKWzSLHSa5E71j51N5Oq94QjbzKeZvJhbXH7zYiLhYCJqFDC2AbWC3eiAbSwZKMJOM",
          "AuthorizationEndpoint": "https://auth.k3s.dahan.house/application/o/authorize/",
          "TokenEndpoint": "https://auth.k3s.dahan.house/application/o/token/",
          "Scope": "openid profile email offline_access",
          "RedirectURLs": [
            "https://netbird.k3s.dahan.house/",
            "https://netbird.k3s.dahan.house/silent-auth",
            "https://netbird-api.k3s.dahan.house/"
          ],
          "UseIDToken": true
        }
      }
    }
---
