apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 10.0.200.1-10.0.200.250
  autoAssign: true
  avoidBuggyIPs: false
---
