apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: homer-config
  namespace: homer
  labels:
    app.kubernetes.io/name: homer
    app.kubernetes.io/component: dashboard
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
