apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: postgres
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
type: Opaque
stringData:
  POSTGRES_USER: superset
  POSTGRES_DB: superset
  POSTGRES_PASSWORD: Aa30491386!
