apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  namespace: postgres
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
spec:
  type: LoadBalancer
  # IP will be auto-assigned from MetalLB pool
  ports:
  - name: postgres
    port: 5432
    targetPort: postgres
    protocol: TCP
  selector:
    app.kubernetes.io/name: postgres
